#weather-app-container {
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  padding: 15px;
  color: rgb(72, 72, 74, 0.85);
  background: linear-gradient(
    180deg,
    rgb(133, 88, 255, 0.6) 6%,
    rgb(236, 110, 76, 0.8) 100%
  );
  border: 0.5mm solid rgb(221, 209, 253 0.8);
  border-radius: 8px;
}
div.card {
  border-color: rgba(46, 130, 153, 0.2);
}
div.card-body {
  padding: 16px 8px;
}
div.container.text-center {
  padding: 0;
}
div#icon-current-temp-c-f {
  text-align: left;
}
.card-body {
  font-family: "Poppins", sans-serif;
}
#app-name {
  font-size: 22px;
  padding-bottom: 10px;
  text-align: left;
  color: #48484a;
}
#search-btn-style {
  color: white;
  border: 0.5mm solid rgb(72, 72, 74, 0.9);
  background-color: rgb(72, 72, 74, 0.85);
}
#search-btn-style:hover {
  background-color: rgb(72, 72, 74, 0.7);
}
#bottom-container {
  padding: 10px 0px;
  margin: 10px;
  text-align: left;
}
#city {
  font-size: 32px;
  font-weight: 600;
  color: rgb(72, 72, 74);
}
#date-style {
  color: rgb(72, 72, 74, 0.65);
}
#description-humidity-wind {
  padding-top: 10px;
  color: rgb(72, 72, 74, 0.85);
}
#icon-current-temp-c-f {
  padding: 10px;
  font-size: 24px;
}
#temp-icon {
  font-size: 50px;
}
#temperature {
  font-size: 40px;
  font-weight: 500;
}
#celsius-link {
  text-decoration: none;
}
.units .active {
  color: rgb(105, 105, 105);
  cursor: default;
}
#fahrenheit-link {
  text-decoration: none;
}

/* FIVE DAY FORECAST */
#forecast-card {
}
#forecast-card-body {
  padding: 6px;
  margin: 0;
}
#weather-forecast {
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
}
h5.weather-forecast-date {
  font-size: 20px;
  padding: 4px 12px;
  background: rgba(133, 88, 255, 0.08);
}
.weather-forecast-temperatures-max {
  font-size: 16px;
  color: rgb(72, 72, 74, 0.95);
  font-weight: 500;
}
.weather-forecast-temperatures-min {
  font-size: 16px;
  color: rgb(72, 72, 74, 0.6);
}
h5.card-title {
  font-size: 26px;
}
/* open source */
#open-source {
  padding-top: 10px;
  color: rgb(133, 88, 255);
  text-align: center;
  font-size: 13px;
}
#github-link {
  text-decoration: none;
}
