#weather-app-container {
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  padding: 15px;
  color: rgb(133, 88, 255, 0.85);
  background: linear-gradient(
    180deg,
    rgb(161, 243, 255) 18%,
    rgb(221, 209, 253) 100%
  );
  border: 0.5mm solid rgb(221, 209, 253 0.8);
  border-radius: 8px;
}
div.card {
  border-color: rgb(133, 88, 255, 0.2);
}
.card-body {
  font-family: "Poppins", sans-serif;
}
#app-name {
  font-size: 22px;
  padding-bottom: 10px;
  text-align: left;
  color: rgb(133, 88, 255);
}
#search-btn-style {
  color: white;
  border: 0.5mm solid rgb(133, 88, 255, 0.9);
  background-color: rgb(133, 88, 255, 0.85);
}
#search-btn-style:hover {
  background-color: rgb(133, 88, 255, 0.7);
}
#bottom-container {
  padding: 10px 0px;
  margin: 10px;
  text-align: left;
}
#city {
  font-size: 32px;
  font-weight: 600;
  color: rgb(133, 88, 255);
}
#date-style {
  color: rgb(133, 88, 255, 0.65);
}
#description-humidity-wind {
  padding-top: 10px;
  color: rgb(133, 88, 255, 0.85);
}
#icon-current-temp-c-f {
  padding: 10px;
  font-size: 24px;
  text-align: right;
}
#temp-icon {
  font-size: 36px;
}
#temperature {
  font-size: 40px;
  font-weight: 500;
}
#celsius-link {
  text-decoration: none;
}
.units .active {
  color: rgb(133, 88, 255, 0.85);
  cursor: default;
}
#fahrenheit-link {
  text-decoration: none;
}
#five-day-forecast {
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}
h5.card-header {
  font-size: 20px;
  padding: 4px 12px;
  background: rgba(133, 88, 255, 0.08);
}
h5.card-title {
  font-size: 26px;
}
p.card-text {
  color: rgb(133, 88, 255, 0.65);
  font-size: 14px;
}
#open-source {
  padding-top: 10px;
  color: rgb(133, 88, 255);
  text-align: center;
  font-size: 13px;
}
#github-link {
  text-decoration: none;
}
